@import '../../style/variables';
@import '../../style/mixins';

.btn-scrollup{
    @extend %scroll;

    bottom: 3rem;
    right: 5rem;
    &:hover{
        color: $main-text-color;
    }
}

.chat-scrollup{
    @extend %scroll;
    bottom: 3rem;
    left:5rem;
    &:hover{
        color: $main-text-color;
    }
    &:hover{
        color: $main-text-color;
    }
}
// body{
//     direction :rtl;
// }