@import '../../style/variables';
@import '../../style/mixins';

.header__container {
    h1 {
        color: $main-color;
        font-weight: bold;
        font-size: 36px;
        line-height: 64px;

    }

    p {
        line-height: 34px;
    }

    .banner__container {

        .banner {
            position: relative;
            width: 846.89px;
            height: 549.29px;
            /* left: -55.48px; */
            top: 114.87px;
            border-radius: 40px;
            z-index: 1;

        }

        .Pattern {
            position: absolute;
            width: 176px;
            height: 191px;
            left: 145px;
            top: 300px;

        }

        .Ellipse {
            position: relative;
            width: 367.32px;
            height: 367.32px;
            top: -33.48px;
            left: 335px;
        }
    }

}