@import '../../style/variables';
@import '../../style/mixins';
.AppsReview{
    background: $apps-bg;
    // position: relative;
    .AppsReview__container {
        padding: 4rem 2rem 2.6rem;
        figure{
            position: relative;
        }
        h2 {
            color: $main-color;
            font-weight: bold;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: -1px;
        }
        .appsgif {
            filter: drop-shadow(0px 4px 19px rgba(0, 0, 0, 0.25));
            border-radius: 40px;
        }

        .Pattern {
            position: absolute;
            // width: 176px;
            // height: 191px;
            // left: 145px;
            // top: 0px;
            width: 25%;
            top: -10%;
            left: -8%;
        }

        .Ellipse {
            position: absolute;
            // width: 367.32px;
            // height: 367.32px;
            // top: -33.48px;
            // left: 335px;
            width: 35%;
            top: 60%;
            left: 70%;
        }
    }

}
